<div class="big_card_container">
  <div class="big_card_photo">
    <img
      src="https://images.techhive.com/images/article/2016/11/angular2_primary-100695369-large.jpg"
      alt="Logo do Framework Angular"
      srcset=""
    />
  </div>

  <div class="big_card_title">
    <h1><a href="#">Novo Angular 17</a></h1>
  </div>

  <div class="big_card_description">
    <a href="#">
      <p>AngularJS foi o ponto de partida para uma nova onda de frameworks JavaScript surgindo para suportar a crescente necessidade de experiências ricas na web. Hoje, com um novo visual e um conjunto de recursos inovadores, trazemos todos para o futuro com a versão 17.</p>
    </a>
  </div>
</div>
