@import "../../../variables.scss";

.big_card_container {
  width: 25rem;
  height: 31.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.big_card_photo {
  img {
    min-width: 12.5rem;
    min-height: 16.6775rem;
  }
}

.big_card_title {
  h1 {
    margin: 5px 0;
    font-size: 1.25rem;
  }
}

.big_card_description {
  a {
    p {
      text-align: justify;
      font-size: 0.955rem;
      color: $gray-color;
    }
  }
}

a {
  text-decoration: none;
}
