 <link rel="preconnect" href="https://images.techhive.com">
<div class="big_card_container">
  <div class="big_card_photo">
    <img
      ngSrc="{{ bigCardPhoto }}"
      width="400"
      height="266.84"
      alt="{{ bigCardPhotoAlt }}"
      srcset=""
      priority
    />
  </div>

  <div class="big_card_title">
    <h1><a href="#"> {{ bigCardTitle }} </a></h1>
  </div>

  <div class="big_card_description">
    <a href="#">
      <p> {{ textTransform(bigCardContent) }} </p>
    </a>
  </div>
</div>
