@import '../../../variables.scss';
@import '../../../fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu_bar_container {
  color: $white-color;
  margin-bottom: 32px;
}

hr {
  border: 1px solid $gray-transparent-color;
}

.menu_bar_container > h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 100%;
  font-size: 6.5625rem;

  display: flex;
  justify-content: center;
}