@import "../../../variables.scss";

.container_small_card {
  width: 37.5rem;
}

.container_small_card_content {
  display: flex;
}

.small_card_photo {
  img {
    min-width: 13.125rem;
    min-height: 7.5625rem;
  }
}
.small_card_title {
  p {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 0.955rem;
    padding: 0 18px 0 18px;
    color: $gray-color;
  }

  span {
    color: $gray-color;
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 5px;
  }
}

.container_small_card_separator {
  padding: 1rem 0;

  hr {
    border: 1px solid $gray-transparent-color;
  }
}

a {
  text-decoration: none;
}
