<div class="container_small_card">
  <div class="container_small_card_content">
    <div class="small_card_photo">
      <img
        ngSrc="{{ smallCardPhoto }}"
        width="210"
        height="121.06"
        alt="{{ smallCardPhotoAlt }}"
        srcset=""
      />
    </div>
    <div class="small_card_title">
      <p>
        <span>{{ smallCardData }}</span>
        <a href="#"> {{ textTransform(smallCardContent) }} </a>
      </p>
    </div>
  </div>
  <div class="container_small_card_separator">
    <hr />
  </div>
</div>
