<main class="container_articles">
  <section class="main_articles">
    <app-big-card
      [id]="dataHome[0].id"
      [bigCardPhoto]="dataHome[0].photo"
      [bigCardPhotoAlt]="dataHome[0].photoAlt"
      [bigCardTitle]="dataHome[0].title"
      [bigCardContent]="dataHome[0].content"
    />
  </section>

  <section class="other_articles">
    @for (item of dataHome; track $index) {
      @if ($index > 0) {
        <app-small-card
          [id]="item.id"
          [smallCardPhoto]="item.photo"
          [smallCardPhotoAlt]="item.photoAlt"
          [smallCardData]="item.data"
          [smallCardContent]="item.content"
        />
    }
  }
  </section>
</main>
